<style>
@import url('https://fonts.googleapis.com/css?family=Monoton');
</style>
<div class="calendarbody">
  <div class="calendarTitle">CALENDAR</div>
  <%= react_component 'Calendar', id: 'myCalendar' %>
</div>
