<form action="/gallery" data-method="get">
  <input type="text" name="zip" placeholder="Zipcode" value="<%= params[:zip] %>" />
  <button type="submit">Search</button>
</form>

<%= link_to "Find events near me", gallery_path %>

<%= react_component 'CardsList', props: { zip: params[:zip] } %>
