<div class="gallerybody">

  <form class="event-card-search" action="/gallery" data-method="get">
    <input type="text" name="zip" placeholder="Zipcode" value="<%= params[:zip] %>" />
    <button class="event-card-search-button" type="submit">Search</button>
  </form>


  <%= link_to "Find events near me", gallery_path, class: "find-events-near-me-link" %>

  <div class="events">
    EVENTS
  </div>
  <%= react_component 'CardsList', props: { zip: params[:zip] } %>
<div>
