@import url('https://fonts.googleapis.com/css?family=Monoton');

.event-card-search{
  padding-top: 1em;
  margin-left: 1em;
}

.find-events-near-me-link {
  margin-left: 1em;
  color:  #ce2910;
}

.event-card-search-button{
  background-color: #ce2910;
  color: white;
  border: none;
  height: 1.6em;
}
.events{
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  color: white;
  margin-top: 1em;


}
#event-card {
  margin: auto;
  max-height: 30vw;
  overflow: scroll;
  text-align: center;
  background-color: white;
  border: solid #ce2910;
  width: 50%;
  margin-top: 3em;
  padding-bottom: 1em;
}
.gallerybody {
  background-color: #1d1538;
  height: 100vh;
}
#event-card-name {
  font-weight:lighter;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ce2910;
  font-weight: bold;
}

.slider-control-bottomcenter {
  display: none !important;
}


#event-card-description {
  margin: auto;
  width: 50%;
  margin-bottom: 1em;
}

.slider-list{
  height: 100vh;
}

#event-card-meta {
  margin-bottom: 1em;
  font-weight: bold;
}
