.first-section{
  padding: 0;
  margin: 0;
}

#myvid{
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-bottom: -7px;
  z-index: 2;
}

.freelylogo {
  z-index: 1;
  margin-right: 3em;
}

.logo{
  display: flex;
  position: absolute;
  height: 20em;
  margin-left: 35%;
}

.second-section{
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  justify-content: space-between;
}

.second-section-left-side{
  display: flex;
  background-color: #1d1538;
  color: white;
  margin: none;
  padding: none;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  align-items: center;
  font-size: 2em;
}

.upcomingevents {
  font-family: 'Monoton', cursive;
  font-size: 1.5em;
  color: white;
  padding-bottom: 1em;
  margin-top: 3em;
  text-shadow: 5px 5px 5px black;
}

.link1{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
}

.link2{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
}

.link3{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
}
.panel-title {
  font-size: .7em;
}

.panel-heading {
  margin-top: 3em;
}

.panel-body {
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
}

.eventsbutton{
  border-radius: 1em;
  background-color: #ce2910;
  font-family: 'Monserrat', sans-serif;
  margin-top: 3em;
  border: none;
  box-shadow: 2px 2px;
}

.viewmorelink {
  color: white;
  font-size: .8em;
}
.second-section-right-side{
  display: flex;
  flex-direction: column;
  background-color: #ce2910;
  height: 100vh;
  width: 40vw;
  position: relative;
  opacity: 0.8;
  margin-top: .1em;
}


.second-section-right-side img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
  padding-top: 7em;
  position: absolute;
}

.third-section{
  display: flex;
  background-color: #1d1538;;
}

.map{
  height: 100%;
  width: 50vw;
}

.blackandwhite{
  height: 30em;
  width: 50%
}

.blackandwhite img {
  height: 32em;
  width: 50vw;
}

.logotext{
  position: absolute;
  color: white;
  font-size: 10em;
  font-family: 'Monoton', cursive;
  margin-left: 32%;
  margin-top: 25%;
  text-shadow: 5px 5px 5px black;
}

.createanewplace {
  color: white;
  border: solid red;
  padding-top: .5em;
  padding-right: 2em;
  font-family: 'Monoton', cursive;
  font-size: 1.7em;
  font-weight: lighter;
}

.mapsearch {
  display: flex;
  justify-content: center;
  border: solid red;
  padding-right: 2em;
  width: 100vw;
  height: 4em;
}

.mapname {
  border-radius: 1.5em;
  border-width: thin;
  margin-right: 2em;

}

.mapstreet {
  border-radius: 1.5em;
  border-width: thin;
  margin-right: 2em;
}

.mapcity {
  border-radius: 1.5em;
  border-width: thin;
  margin-right: 2em;
}

.mapstate {
  border-radius: 1.5em;
  border-width: thin;
  margin-right: 2em;
}
