
body{
  background-color: #1d1538;
}
.first-section{
  padding: 0;
  margin: 0;
  position: relative;
}

#myvid{
  position: relative;
  z-index: 0;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-bottom: -7px;
}


.overlay{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.logotext{
  color: white;
  margin: 20vw 30vw;
  margin-bottom: 0px;
  font-size: 10em;
  font-family: 'Monoton', cursive;
  text-shadow: 5px 5px 5px black;
}

.searchContent{
  margin: 0 30%;
}

.freelysearch{
  padding-left: 43%;
}

.freelyzipcode {
  height: 2em;
  border-width: thin;
  width: 20%;
}

.freelysubmitbutton {
  height: 2em;
  background-color: #ce2910;
  border: none;
  color: white;
}


.second-section{
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  justify-content: space-between;
}

.second-section-left-side{
  display: flex;
  background-color: #1d1538;
  color: white;
  margin: none;
  padding: none;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  align-items: center;
  font-size: 2em;
}

.upcomingevents {
  font-family: 'Monoton', cursive;
  font-size: 1.5em;
  color: white;
  padding-bottom: 1em;
  margin-top: 3em;
  text-shadow: 5px 5px 5px black;
}

.link1{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.link2{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.link3{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.panel-title {
  font-size: .7em;
}

.panel-heading {
  margin-top: 3em;
}

.panel-body {
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
}

.eventsbutton{
  background-color: #ce2910;
  font-family: 'Monserrat', sans-serif;
  margin-top: 3em;
  border: none;
  box-shadow: 1px 1px;
  padding-bottom: .2em;
}

.viewmorelink {
  color: white;
  font-size: .6em;
}
.second-section-right-side{
  display: flex;
  flex-direction: column;
  background-color: #ce2910;
  height: 100vh;
  width: 40vw;
  position: relative;
  opacity: 0.8;
  margin-top: .1em;
}


.second-section-right-side img {
  padding-left: 5em;
  margin-top: 20%;
  height: 70%;
  width: 90%;
}

.third-section{
  display: flex;
  background-color: #1d1538;
}

.map{
  height: 100%;
  width: 50vw;
}

.blackandwhite{
  height: 30em;
  width: 50%
}

.blackandwhite img {
  height: 32em;
  width: 50vw;
}

.createanewplace {
  color: white;
  padding-right: 2em;
  font-family: 'Monoton', cursive;
  font-size: 2em;
  font-weight: lighter;
  height: 2em;
}

.mapsearch {
  display: flex;
  justify-content: center;
  padding-right: 2em;
  width: 100vw;
  height: 4em;
}

.mapname {
  border-width: thin;
  margin-right: 2em;
  margin-top: .8em;
  height: 2em;

}

.mapstreet {
  border-width: thin;
  margin-right: 2em;
  margin-top: .8em;
  height: 2em;
}

.mapcity {
  border-width: thin;
  margin-right: 2em;
  margin-top: .8em;
  height: 2em;
}

.mapstate {
  border-width: thin;
  margin-right: 2em;
  margin-top: .8em;
  height: 2em;
}

.mapsubmit {
  border-width: thin;
  margin-right: 2em;
  margin-top: .8em;
  height: 2em;
  background-color: #ce2910;
  border: none;
  color: white;
}
